# Virtual environment
.venv/
venv/
env/

# PyCharm project files
.idea/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Byte-compiled and cache
*.pyc
.pytest_cache/
.cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Input filed
day_1/day_1_input.txt
day_2/day_2_input.txt